ErrorDocument 404 /
Options -Indexes

<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine on
    RewriteBase /
    RewriteRule ^$ accueil.html [L]
    RewriteRule ^dropdown$ dropdown.php [L]
    RewriteRule ^footer$ footer.html [L]
    RewriteRule ^custom$ custom.html [L]
</IfModule>
