/* Sidenav menu */

body {
    margin: 0;
    padding: 0;
}

.firstScreen{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    color: white;
    margin-top: 4em;
    height: calc(100vh - 4em);
}

.firstScreen h1 {
    font-size: 10em;
}

.firstScreen img {
    width: 20em;
    height: 20em;
}


#WeAre{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:5%;
    text-justify: auto;
}

#OurBestCustom div{
    display: flex;
    justify-content: space-evenly;
}

#OurBestCustom img{
    width: 25%;
}

#StartYourCustom div{
    display: flex;
    justify-content:space-between ;
}

#StartYourCustom p{
    display: block;
    width: 50%;
    height: auto;
    padding: 5px;
}

#ContactUs{
    display: flex;
    justify-content: space-between;
}

#ContactUs img {
    height: 100px;
    width: 100px;
}

#ContactUs div{
    display: flex;
    flex-direction: column;
}

#ContactUs div > *{
    display: flex;
    flex-direction: column;
}
  