main #firstScreen {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    color: white;
    margin-top: 4em;
    height: calc(100vh - 4em);
    min-height: 35em;
}

main #firstScreen #titre {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

main #firstScreen h1 {
    font-size: 10em;
    margin: 0;
}

main #firstScreen img {
    height: 25em;
}

main #content {
    margin: 2em 10em;
    display: flex;
    flex-direction: column;
    gap: 5em;
}

main #content h2 {
    margin: 0;
}

main .contentBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-justify: auto;
}

main .title {
    font-size: 5em;
}

main #weAre p {
    font-size: 1.5em;
}

main #ourBestCustoms .title, main #startYourCustom .title {
    align-self: start;
    margin-left: 1em;
}

main #ourBestCustoms div {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    width: 100%;
}

main #ourBestCustoms img {
    width: 40%;
}

main #startYourCustom div {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

main #startYourCustom p {
    width: 50%;
    padding: 5px;
    font-size: 1.5em;
}

main #startYourCustom div a {
    height: fit-content;
    margin-right: 5em;
}

main #startYourCustom div a button {
    cursor: pointer;
    height: 7em;
    width: 15em;
    background-color: blue;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border-radius: 1em;
}

main #startYourCustom div a button:active {
    background-color: mediumblue;
    color: lightgray;
}

main #contactUs #contactUsContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

main #contactUs #contactUsImage {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main #contactUs #contactUsImage img {
    height: 20em;
}

main #contactUs form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 1em;
}

main #contactUs form input, main #contactUs form textarea {
    width: 80%;
    border-radius: 0.2em;
}

main #contactUs form textarea {
    resize: none;
    height: 10em;
}
  