main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4em 0;
}

main .image_container {
    height: 28em;
    width: 40em;
    position: relative;
}

main .image {
    opacity: 0;
    position: absolute;
    width: 40em;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.8s ease, opacity 0.2s ease;
}

main .expend {
    transform: scaleX(1);
    transform-origin: left;
}

main .active {
    opacity: 1;
}

main #buttons {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

main #buttons .buttonsType {
    display: flex;
    flex-wrap: wrap;
    width: 30em;
    gap: 0.5em;
}

main #buttons .buttonsType h1 {
    width: 100%;
    height: fit-content;
    margin: 0;
}

main #buttons .buttonsType .button {
    width: 11em;
    height: 6em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.7em;
    cursor: pointer;
}

main #buttons .buttonsType .button#pipe1 {
    background-image: url("/customPage/pot1.jpeg");
}

main #buttons .buttonsType .button#pipe2 {
    background-image: url("/customPage/pot2.jpeg");
}

main #buttons .buttonsType .button#pipe3 {
    background-image: url("/customPage/pot3.jpeg");
}

main #buttons .buttonsType .button#pipe4 {
    background-image: url("/customPage/pot4.jpeg");
}

main #buttons .buttonsType .button#red {
    background-image: url("/customPage/red.jpeg");
}

main #buttons .buttonsType .button#green {
    background-image: url("/customPage/green.jpeg");
}

main #buttons .buttonsType .button#blue {
    background-image: url("/customPage/blue.jpeg");
}

main #buttons .buttonsType .button#yellow {
    background-image: url("/customPage/yellow.jpeg");
}

main #buttons .buttonsType .button#black {
    background-image: url("/customPage/black.jpeg");
}

main #buttons .buttonsType .button#wheel1 {
    background-image: url("/customPage/wheel1.jpeg");
}

main #buttons .buttonsType .button#wheel2 {
    background-image: url("/customPage/wheel2.jpeg");
}

main #buttons .buttonsType .button#wheel3 {
    background-image: url("/customPage/wheel3.jpeg");
}

main #buttons .buttonsType .button#wheel4 {
    background-image: url("/customPage/wheel4.jpeg");
}

main #buttons .buttonsType .button#wheel5 {
    background-image: url("/customPage/wheel5.jpeg");
}

main #buttons .buttonsType .button#wheel6 {
    background-image: url("/customPage/wheel6.jpeg");
}